COMPOSE_FILE=docker-compose.yml:docker-compose.development.yml
WORDPRESS_URL=http://localhost
WORDPRESS_ADMIN_EMAIL=
MYSQL_ROOT_PASSWORD=
DBI_AWS_ACCESS_KEY_ID=
DBI_AWS_SECRET_ACCESS_KEY=
FORCE_SSL_ADMIN=false
WORDPRESS_TITLE=wp-headless
WORDPRESS_DB_HOST=mysql
WORDPRESS_DB_USER=root
WORDPRESS_DB_NAME=wordpress
JWT_AUTH_SECRET_KEY=
MARIADB_VERSION=10.2
WORDPRESS_VERSION=4.9.1
PHP_VERSION=7.2
CUSTOM_POST_TYPE_UI=1.5.6
ADVANCED_CUSTOM_FIELDS=4.4.12
ACF_TO_REST_API=3.1.0
AMAZON_S3_AND_CLOUDFRONT=1.2.1
AMAZON_WEB_SERVICES=1.0.4
WORDPRESS_IMPORTER=0.6.3
JWT_AUTHENTICATION_FOR_WP_REST_API=1.2.4
WP_FORCE_LOGIN=5.1.1
