COMPOSE_FILE=docker-compose.yml:docker-compose.development.yml
DOMAIN=example.com
ADMIN_EMAIL=webmaster@example.com
DB_HOST=mysql
DB_USER=wp-headless
DB_NAME=wp-headless
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=
DBI_AWS_ACCESS_KEY_ID=
DBI_AWS_SECRET_ACCESS_KEY=
AUTH_KEY=
SECURE_AUTH_KEY=
LOGGED_IN_KEY=
NONCE_KEY=
AUTH_SALT=
SECURE_AUTH_SALT=
LOGGED_IN_SALT=
NONCE_SALT=

