DOMAIN=
ADMIN_EMAIL=
DB_PASSWORD=
MYSQL_ROOT_PASSWORD=
LETSENCRYPT=
DOCKER_PROFILE=
AWSLOGS_GROUP=
SES_USER=
SES_PASSWORD=
SES_REGION=
MAIL_FROM_NAME=wpheadless
MAIL_FROM_EMAIL=
IMAGE_WORDPRESS=wordpress:cli-2-php7.4
IMAGE_CERTBOT=certbot/certbot:v1.1.0
IMAGE_CRON=docker:stable
IMAGE_SMTP=namshi/smtp:latest
IMAGE_NGINX=nginx:1.17
IMAGE_MYSQL=mariadb:10.4
IMAGE_PHP=wpheadless/wp-php-fpm:7.4.2-2
