0 1 * * * "${APPROOT}/run-task" wp-snapshot
0 2 * * * [ "$LETSENCRYPT" = "true" ] && "${APPROOT}/run-task" lerenew-or-issue && "${APPROOT}/docker-compose" kill -s HUP nginx
* * * * * curl -sk -H "Host: ${DOMAIN}" https://nginx/wp-cron-multisite.php
